.gs-container--minute-article {
    background-color: colour(brand);
}

.minute-article-blocks {
    padding-top: $gs-baseline * 2;

    .block-elements {
        flex: 2;
    }
}

.block--minute-article {
    background-color: #104f75;
    border-top: 4px solid #d91b20;
    border-bottom: 0 none;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    float: left;
    height: 100vh;
    margin-bottom: $gs-baseline * 2;
    padding: $gs-baseline $gs-gutter 0;
    width: 100%;

    @include mq(desktop) {
        height: 500px;
        margin-left: $gs-gutter / 2;
        margin-right: $gs-gutter / 2;
        width: gs-span(6);
    }

    @include mq($from: desktop, $until: leftCol) {
        &:nth-child(2n-1) {
            margin-left: 0;
        }

        &:nth-child(2n) {
            margin-right: 0;
        }
    }

    @include mq(leftCol) {
        width: gs-span(4);

        &:nth-child(3n-2) {
            margin-left: 0;
        }

        &:nth-child(3n) {
            margin-right: 0;
        }
    }


    @include mq(wide) {
        width: gs-span(5);
    }
}
