@(page: model.Page)
@import conf.switches.Switches.OutbrainOnAmp
@import views.support.URLEncode


// todo: padding so same margins as other components
// todo: get height right
// todo: styling
// todo: sandbox?
@if(OutbrainOnAmp.isSwitchedOn) {
    @defining(page.metadata.webUrl) { htmlUrl =>
        <amp-iframe height=250
        sandbox="allow-top-navigation allow-scripts allow-same-origin"
        layout="fixed-height"
        frameborder="0"
        resizable
        class="onward-list"
        src="https://widgets.outbrain.com/hub/amp.html#widgetIds=AMP_1&htmlURL=@URLEncode(htmlUrl)&ampURL=@URLEncode(s"$htmlUrl/amp")">
            <div overflow class="cta cta--medium cta--show-more">
                @fragments.inlineSvg("plus", "icon")
                More stories
            </div>
        </amp-iframe>
    }
}
