@(containerModel: common.commercial.ContainerModel)
    <div data-id="@containerModel.id">
        <h1>@containerModel.content.title</h1>
        @if(containerModel.content.description.isDefined){
            <p>@containerModel.content.description</p>
        }
        @for(card <- containerModel.content.cardContents){
            <div
                @if(containerModel.metaData.sponsorData == None) {
                    @for(sponsorData <- card.sponsorData) {
                        @for(sponsor <- sponsorData.sponsor) {
                            data-sponsor="@sponsor"
                        }
                        data-sponsorship="@sponsorData.sponsorshipType"
                        @for(keywords <- sponsorData.keywordId) {
                            data-keywords="@keywords" }
                    }
                }
            >
                <h2>@card.headline</h2>
                <p>@card.description</p>
            </div>
        }
    </div>
